<p-drawer [(visible)]="isVisible" position="right" appendTo="body" closable="false" blockScroll="true"
    styleClass="!w-[90vw] sm:!w-[80vw] md:!w-[40rem] lg:!w-[50rem] custom-drawer">
    <ng-template #header>
        <span class="flex flex-col w-full">
            <h4 class="text-base/7 font-semibold text-gray-900">{{ 'LAB.Add_Lab' |
                translate }}</h4>
            <p-divider />
        </span>

    </ng-template>
    
    <form [formGroup]="labForm">
    
        <div class="mt-3 grid grid-cols-12 gap-4">
            <!-- Test Name -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="testName">{{ 'LAB.Test_Name' | translate }}</label>
                <div class="mt-2">
                    <p-select dropdown id="testName" formControlName="testName" [options]="testNameOptions" optionLabel="label"
                        optionValue="label" placeholder="{{ 'LAB.PLACE_HOLDER.Test_Name' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
            <!-- Test Type -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="testType">{{ 'LAB.Test_Type' | translate }}</label>
                <div class="mt-2">
                    <p-select id="testType" formControlName="testType" [options]="testTypeOptions" optionLabel="label"
                        optionValue="label" placeholder="{{ 'LAB.PLACE_HOLDER.Test_Type' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
            <!-- Order Date -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="orderDate">{{ 'LAB.Order_Date' | translate }}</label>
                <div class="mt-2">
                    <p-datepicker dateMask dateFormat="dd/mm/yy" class="w-full" [maxDate]="currentDate"
                    formControlName="orderDate" [showIcon]="true" [style]="{'width': '100%'}" />
                </div>
            </div>
    
            <!-- Test Date -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="testDate">{{ 'LAB.Test_Date' | translate }}</label>
                <div class="mt-2">
                    <p-calendar id="testDate" formControlName="testDate" dateFormat="dd/mm/yy" showIcon
                        class="w-full">
                    </p-calendar>
                </div>
            </div>
    
            <!-- Select Appointment -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label for="appointmentId">{{ 'LAB.Select_Appointment' | translate }}</label>
                <div class="mt-2">
                    <p-select id="appointmentId" formControlName="appointmentId" [options]="appointmentOptions"
                        optionLabel="label" optionValue="value" (onChange)="appointmentChange($event)"
                        placeholder="{{ 'LAB.PLACE_HOLDER.Select_Appointment' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
            <!-- Reason for Test -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-12 lg:col-span-12">
                <label for="reasonForTest">{{ 'LAB.Reason_For_Test' | translate }}</label>
                <div class="mt-2">
                    <textarea pTextarea rows="3" maxlength="1000" id="reasonForTest" formControlName="reasonForTest"
                        class="w-full" placeholder="{{ 'LAB.PLACE_HOLDER.Reason_For_Test' | translate }}">
                    
              </textarea>
                </div>
            </div>
    
            <!-- Ordering Provider -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="orderingProvider">{{ 'LAB.Ordering_Provider' | translate }}</label>
                <div class="mt-2">
                    <!-- <p-select id="orderingProvider" formControlName="orderingProvider" [options]="providerOptions"
                        optionLabel="label" optionValue="value"
                        placeholder="{{ 'LAB.PLACE_HOLDER.Ordering_Provider' | translate }}" class="w-full">
                    </p-select> -->
                    <input pInputText formControlName="orderingProvider" class="w-full" placeholder="{{ 'LAB.PLACE_HOLDER.Ordering_Provider' | translate }}" />
                </div>
            </div>
    
            <!-- Sample Required -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label for="sampleRequired">{{ 'LAB.Sample_Required' | translate }}</label>
                <div class="mt-2">
                    <p-select id="sampleRequired" formControlName="sampleRequired" [options]="sampleRequiredOptions"
                        optionLabel="label" optionValue="label"
                        placeholder="{{ 'LAB.PLACE_HOLDER.Sample_Required' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
            <!-- Sample Collection Location -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="sampleCollectionLocation">{{ 'LAB.Sample_Collection_Location' | translate
                    }}</label>
                <div class="mt-2">
                    <p-select id="sampleCollectionLocation" formControlName="sampleCollectionLocation"
                        [options]="sampleLocationOptions" optionLabel="label" optionValue="label"
                        placeholder="{{ 'LAB.PLACE_HOLDER.Sample_Collection_Location' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
            <!-- Test Instructions -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-12 lg:col-span-12">
                <label for="testInstructions">{{ 'LAB.Test_Instructions' | translate }}</label>
                <div class="mt-2">
                    <textarea pTextarea rows="3" maxlength="1000" id="testInstructions"
                        formControlName="testInstructions" class="w-full"
                        placeholder="{{ 'LAB.PLACE_HOLDER.Test_Instructions' | translate }}">
                          </textarea>
                </div>
            </div>
    
            <!-- Status -->
            <div class="flex flex-col col-span-full sm:col-span-12 md:col-span-6 lg:col-span-6">
                <label mandatoryFieldLabel for="status">{{ 'LAB.Status' | translate }}</label>
                <div class="mt-2">
                    <p-select id="status" formControlName="status" [options]="statusOptions" optionLabel="label"
                        optionValue="label" placeholder="{{ 'LAB.PLACE_HOLDER.Status' | translate }}" class="w-full">
                    </p-select>
                </div>
            </div>
    
        </div>
    </form>

    <ng-template #footer>
        <p-divider />
        <div class="flex items-center gap-2">
            <p-button label="{{'SAVE'| translate }}" class="w-full" (click)="save()"
                [styleClass]="'w-full sm:w-full md:w-full lg:w-full'" size="small" [loading]="isCallInitiated"
                [disabled]="isCallInitiated" />
            <p-button label="{{'CANCEL'| translate }}" class="w-full" severity="danger"
                [styleClass]="'w-full sm:w-full md:w-full lg:w-full'" [outlined]="true" (click)="isVisible.set(false)"
                size="small" />
        </div>
    </ng-template>
</p-drawer>