::ng-deep .last-visited-doctor-cards > .p-card {
    background-color: transparent !important;
    border: white 5px solid !important;
}

::ng-deep .last-visited-doctor-cards .p-card-body {
    padding: 0 !important;
}