<div class="grid grid-cols-12 gap-5 row-gap-5 mt-[1rem] grid-flow-dense">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3 h-full">
        <div class="card mb-0 h-full">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Balance</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">₹1000</div>
                </div>
                <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-indian-rupee text-orange-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-muted-color"><p-button label="Pay now" [link]="true" (click)="showDialog()" /></span>
        </div>
    </div>
</div>




<p-dialog header="Pay Now" [modal]="true" [(visible)]="payNowDialogVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Make payment</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="amount" class="font-semibold w-24">Amount</label>
        <p-inputnumber id="amount" class="flex-auto" autocomplete="off" [(ngModel)]="amount" maxlength="5" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Recipient</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" [(ngModel)]="recipientId" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="payNowDialogVisible = false" />
        <p-button label="Save" (onClick)="createOrder()" />
    </div>
</p-dialog>
