<div class="relative flex items-center w-full">

    <!-- Left Button -->
    <button pButton icon="pi pi-chevron-left" (click)="scrollTimeline(-1)" *ngIf="showLeftBtn"
        class="flex-shrink-0 z-10 p-0 p-button-rounded p-button-secondary p-button-text btn-left hidden md:flex">
    </button>

    <!-- Scrollable Container -->
    <div #doctorCardContainer class="flex whitespace-nowrap space-x-4 items-center w-full 
                overflow-x-auto md:overflow-hidden scroll-smooth py-2" (scroll)="onScroll()">

        <div *ngFor="let visitedDoctor of visitedDoctors" class="flex-shrink-0 w-56 sm:w-60 md:w-72 lg:w-80">
            <app-doctor-card [visitedDoctor]="visitedDoctor"></app-doctor-card>
        </div>

    </div>

    <!-- Right Button -->
    <button pButton icon="pi pi-chevron-right" (click)="scrollTimeline(1)" *ngIf="showRightBtn"
        class="flex-shrink-0 z-10 p-0 p-button-rounded p-button-secondary p-button-text btn-right hidden md:flex">
    </button>

</div>