<div class="card">

    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">{{ 'DIAGNOSIS.CURRENT_DIAGNOSIS' | translate }}</h4>
    </div>
    <p-divider />

    <ng-container>
        <p-table [value]="diagnosisList" [reorderableColumns]="true" size="small" [paginator]="true"
            [rows]="rowsPerPage" [totalRecords]="diagnosisList.length">

            <ng-template #body let-item let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td>
                        <strong> {{ item.diagnosisName }} </strong>
                    </td>
                    <td>
                        {{ 'DIAGNOSIS.ONSET_DATE' | translate }} : {{ item.onsetDate }} |

                        {{ 'DIAGNOSIS.REPORTED_DATE' | translate }} : {{ item.reportedDate }}

                        <span *ngIf="item.status !== 3">
                            | {{ 'DIAGNOSIS.END_DATE' | translate }} : {{ item.endDate }}
                        </span>
                    </td>

                    <td style="width: 1%; text-align: right;">
                        <p-tag [severity]="getTagSeverity(item.status)" [value]="getStatus(item.status)"
                            [rounded]="true">
                        </p-tag>
                    </td>
                    <td class="flex justify-center gap-2">
                        <p-button icon="pi pi-pencil" variant="outlined" severity="info" [raised]="false"
                            (onClick)="editDiagnosis(item)" [rounded]="true" />
                        <p-button icon="pi pi-trash" variant="outlined" severity="danger" [raised]="false"
                            (onClick)="removeDiagnosis(index, item)" [rounded]="true" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        <div class="text-center">
                            <span class="text-lg">{{'DIAGNOSIS.TABLE.EMPTY_MESSAGE' | translate}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>

    <span *ngIf="appointmentId()">

        <div class="mt-5"></div>

        <p-autoComplete class="w-full" [style]="{width:'100%'}" id="diagnosisName" [suggestions]="diagnosisSuggestion"
            optionLabel="label" optionValue="value"
            placeholder="{{ 'DIAGNOSIS.PLACE_HOLDER.SEARCH_DIAGNOSIS' | translate }}" [dropdown]="false" minLength="3"
            maxLength="100" (onSelect)="addDiagnosis($event.value)" (completeMethod)="searchDiagnosis($event.query)"
            [inputStyle]="{ width: '100%' }" appendTo="body">
        </p-autoComplete>

        <div class="mt-5">
            <div class="flex flex-wrap gap-2">
                <button *ngFor="let diagnosis of frequentlyUsedDiagnosis" type="button" pButton [rounded]="true"
                    class="p-button p-button-outlined" (click)="addDiagnosis(diagnosis)">
                    {{ diagnosis.label }}
                </button>
            </div>
        </div>
    </span>

</div>

<app-diagnosis-add-edit *ngIf="visible" [(isVisible)]="visible" [selectedDiagnosis]="selectedDiagnosis()"
    [appointmentId]="appointmentId()" [patientId]="patientId()"
    (onDiagnosisUpdate)="loadDiagnosis($event)"></app-diagnosis-add-edit>