<div class="relative min-h-screen overflow-hidden">
  <div
    class="absolute inset-0 bg-[url('/assets/images/login-bg-2-ghibli.png')] bg-cover bg-center md:blur-sm lg:blur-lg z-0">
  </div>
  <div class="absolute inset-0 md:bg-white/50"></div>

  <div class="relative z-20 flex items-center justify-center min-h-screen p-4">
    <div class="flex flex-col w-full max-w-3xl p-6 shadow-xl bg-white/50 backdrop-blur-sm rounded-3xl md:flex-row">
      <div class="relative hidden max-w-sm pr-6 overflow-hidden md:block md:w-1/2 rounded-3xl">
        <p-image [src]='logoSrc' alt="Healthcare Ghibli Illustration" class="absolute z-30 w-32 p-1 top-4 left-4" 
          styleClass="absolute top-4 left-4 w-32 p-1 z-30" />
        <p-image [src]='imageSrc' alt="Healthcare Ghibli Illustration"
          styleClass="object-cover w-full h-full min-h-[300px] md:min-h-[400px] rounded-3xl" />
      </div>

      <!-- Critical changes here -->
      <div class="flex flex-col w-full md:w-1/2">
        <div class="flex flex-col w-full">
          <span class="flex justify-center w-full text-2xl font-bold text-muted-color">{{errorState?.summary || 'We are sorry...'}}</span>
          <div class="w-full mt-2 border-b border-gray-300"></div>
        </div>
        <div class="flex flex-col mt-5">
          <span *ngIf="errorState !== null">
            <p-message [severity]="errorState?.severity || 'error'">{{errorState?.detail || 'Something went wrong!'}}</p-message>
          </span>
        </div>

        <div class="flex flex-col mt-5">
          <p-button [link]="true" (onClick)="navigateToHome()">
            <span class=""></span>Back To Login
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>