<div pageHeader>
    <p-toolbar>
        <ng-template #start>
            <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
                Add Practice
            </p>
        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            <div class="flex space-x-3 justify-items-end">
                <p-button label="Save" (onClick)="navigateToListPage()"></p-button>
                <p-button label="Cancel" variant="outlined" severity="danger"
                    (onClick)="navigateToListPage()"></p-button>
            </div>
        </ng-template>
    </p-toolbar>
</div>

<!-- <div class="flex justify-center m-6">
    <h2 class="text-base/7 font-semibold ">Add Practice</h2>
</div> -->

<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold ">Basic Details</h4>        
    </div>

    <p-divider></p-divider>

    <div class="mt-5 grid grid-cols-12 gap-3">
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
            <label for="organization">Organization Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-autoComplete dropdown id="organization" [(ngModel)]="selectedTypes" class="width-full w-full"
                    [style]="{'width': '100%'}" [suggestions]="autoFilteredValue" optionLabel="label"
                    optionValue="value" placeholder="Enter Organization Name" (completeMethod)="searchOrganizationName($event)">
                </p-autoComplete>
            </div>
        </div>

        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-4">
            <label for="first-name">Practice Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="first-name" id="first-name" autocomplete="given-name"
                    class="w-full" placeholder="Enter Practice Name">
            </div>
        </div>

        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="last-name" class="">Type of Practice  <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select id="state" [(ngModel)]="selectedPracticeType" [options]="practiceTypes" optionLabel="name"
                    placeholder="Enter Type of Practice " class="w-full" (onChange)="onDropdownChange()">
                </p-select>
            </div>
        </div>

        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="practiceName" class="">Practice Registration ID <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input name="practiceName" id="practiceName" pInputText class="w-full" placeholder="Enter Practice Registration Id" />
            </div>
        </div>

        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="first-name" class="">GSTIN</label>
            <div class="mt-2">
                <input pInputText type="text" name="GSTIN" id="GSTIN" autocomplete="given-name"
                    class="w-full" placeholder="Enter GSTIN">
            </div>
        </div>

        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4 lg:col-span-2">
            <label for="last-name">Year of Establishment</label>
            <div class="mt-2">
                <p-datepicker view="year" dateFormat="yy" class="w-full" [iconDisplay]="'input'" [showIcon]="true"
                    placeholder="YYYY" [style]="{'width': '100%'}" />
            </div>
        </div>

        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label>Practice Logo</label>
            <div class="mt-2">
              <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                (onUpload)="onUpload($event)" class="w-full" />
            </div>
          </div>
    </div>
</div>

<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold ">Contact Details</h4>        
    </div>
    <p-divider></p-divider>
    <div class="mt-5 grid grid-cols-12 gap-3">
        <div class="flex flex-col col-span-full md:col-span-6 lg:col-span-4">
            <label for="address1">Adress 1 <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="street-address" id="address2" class="w-full" placeholder="Enter Address">
            </div>
        </div>

        <div class="flex flex-col col-span-full md:col-span-6 lg:col-span-4">
            <label for="address2">Adress 2</label>
            <div class="mt-2">
                <input pInputText type="text" name="street-address" id="address2" class="w-full" placeholder="Enter Address">
            </div>
        </div>
        <div
            class="flex flex-col col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="city" >Mobile Number <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="city" id="city" class="w-full" placeholder="Enter Mobile Number">
            </div>
        </div>

        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="email" >Email Address <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="email" name="email" type="email" class="w-full" placeholder="Enter Email address">
            </div>
        </div>
        <div
            class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 lg:col-start-1 col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="postal-code">Pincode <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="pin-code" id="postal-code" class="w-full" placeholder="Enter Pincode">
            </div>
        </div>

        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="city">City <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="city" id="city" class="w-full" placeholder="Enter City">
            </div>
        </div>

        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="region">State <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="region" id="region" class="w-full" placeholder="Enter State">
            </div>
        </div>

        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3 lg:col-span-2">
            <label for="country" >Country <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
                    placeholder="Select a City" class="w-full md:w-56" [style]="{'width':'100%'}" placeholder="Enter Country" />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">Payment Details</h4>
    </div>
    <p-divider></p-divider>
    <div class="mt-5 grid grid-cols-12 gap-3">
        <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-4">
            <label for="paymentMode">Accepted Payment Mode <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-multiselect [options]="paymentoptions" [(ngModel)]="Paymentopt"
                    placeholder="Enter Accepted Payment Mode" optionLabel="name" display="chip" [filter]="true"
                    class="w-full">
                </p-multiselect>
            </div>
        </div>
    </div>
</div>