::ng-deep .user-list {
    // .pcColumnfilterClearButton {
    //     display: none;
    // }

    .p-fluid {
        width: 100%;
        display: block;
    }

    .p-multiselect-label {
        white-space: nowrap !important;
    }

}