<div pageHeader>
  <p-toolbar>
    <ng-template #start>
      <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
        Add Organization
      </p>
    </ng-template>

    <ng-template #center>
    </ng-template>

    <ng-template #end>
      <div class="flex space-x-3 justify-items-end">
        <p-button label="Save" ></p-button>
        <p-button label="Cancel" variant="outlined" severity="danger" ></p-button>
      </div>
    </ng-template>
  </p-toolbar>
</div>


<!-- Basic Details -->
<div class="card">
  <div>
    <h4 class="text-base/7 font-semibold text-gray-900">Basic Details</h4>
  </div>
  <p-divider></p-divider>

  <div class="mt-5 grid grid-cols-12 gap-3">
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
      <label for="orgName" class="text-red 500">Organization Name <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="orgName" type="text" placeholder="Enter Organization Name" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
      <label for="legalOrgName">Legal Organization Name</label>
      <div class="mt-2">
        <input pInputText id="legalOrgName" type="text" placeholder="Enter Legal Organization Name" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
      <label for="state">Type of Organization <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItems" optionLabel="name"
          placeholder="Enter Type of Organization" class="w-full" (onChange)="onDropdownChange()">
        </p-select>
      </div>
    </div>

    <div *ngIf="showOtherInput" class="flex flex-col col-span-full sm:col-span-4 md:col-span-2">
      <label>&nbsp;</label>
      <div class="mt-2">
        <input pInputText type="text" [(ngModel)]="otherOrganization" placeholder="Enter organization type"
          class="w-full">
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-4 md:col-span-2">
      <label for="gstin">GSTIN</label>
      <div class="mt-2">
        <input pInputText id="gstin" type="text" placeholder="Enter GSTIN" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-4 md:col-span-2">
      <label for="yearEstablishment">Year of Establishment <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="yearEstablishment" type="text" placeholder="YYYY" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label>Upload Business Logo</label>
      <div class="mt-2">
        <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
          (onUpload)="onUpload($event)" class="w-full" />
      </div>
    </div>
  </div>
</div>
<!-- Contact Details -->
<div class="card">
  <div>
    <h4 class="text-base/7 font-semibold text-gray-900">Contact Details</h4>
  </div>
  <p-divider></p-divider>
  <div class="mt-5 grid grid-cols-12 gap-3">
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
      <label for="address1">Address 1 <span class="text-red-500">*</span> </label>
      <div class="mt-2">
        <input pInputText id="address1" type="text" placeholder="Enter Address" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
      <label for="address2">Address 2</label>
      <div class="mt-2">
        <input pInputText id="address2" type="text" placeholder="Enter Address" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="pincode">Mobile Number <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="Mobile" type="text" placeholder="Enter Mobile Number" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="city">Email Address <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="Email" type="text" placeholder="Enter Email Address" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-2">
      <label for="pincode">Pincode <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="pincode" type="text" placeholder="Enter Pincode" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="city">City <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="city" type="text" placeholder="Enter City" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="state">State <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="state" type="text" placeholder="Enter State" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="country">Country <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <input pInputText id="country" type="text" placeholder="Enter Country" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label for="state">Website</label>
      <div class="mt-2">
        <input pInputText id="Website" type="text" placeholder="Enter Website" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
      <label>Upload Business License</label>
      <div class="mt-2">
        <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
          (onUpload)="onUpload($event)" class="w-full" />
      </div>
    </div>
  </div>
</div>

<!-- Payment Details -->
<div class="card">
  <div>
    <h4 class="text-base/7 font-semibold text-gray-900">Payment Details</h4>
  </div>
  <p-divider></p-divider>
  <div class="mt-5 grid grid-cols-12 gap-3">
    <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-4">
      <label for="paymentMode">Accepted Payment Mode <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <p-multiselect [options]="paymentoptions" [(ngModel)]="Paymentopt" placeholder="Enter Accepted Payment Mode"
          optionLabel="name" display="chip" [filter]="true" class="w-full">
        </p-multiselect>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div>
    <h4 class="text-base/7 font-semibold text-gray-900">Subscription Details</h4>
  </div>
  <p-divider></p-divider>
  <div class="mt-5 grid grid-cols-12 gap-3">
    <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-4">
      <label for="state">Subscription Plan <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <p-select id="subscriptionPlan" [(ngModel)]="subscriptionPlan" [options]="subscriptionPlanoptions"
          optionLabel="name" placeholder="Select Subscription Plan" class="w-full">
        </p-select>
      </div>
    </div>
    <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
      <label class="font-medium">Status <span class="text-red-500">*</span></label>
      <div class="mt-2">
        <p-selectbutton [options]="statusOptions" [(ngModel)]="statusValue" optionLabel="name" optionValue="value"
          class="w-full" />
      </div>
    </div>
  </div>
</div>