<div pageHeader="list">
    <p-toolbar>
        <ng-template #start>
            <div class="flex items-center gap-2">
                <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
                    {{'NOTIFICATION.TITLE' | translate}}
                </p>
            </div>
        </ng-template>
    </p-toolbar>
</div>
<div class="card">
    @if(isBrowser){
    <p-table [value]="notifications" [(selection)]="selectedNotifications" [size]="'small'"
        [totalRecords]="totalRecords" [paginator]="true" [loading]="showLoader" [first]="first" [lazy]="true"
        [rows]="size" (onLazyLoad)="loadNotifications($event)" [scrollable]="true" tableAutoScroll #notificationTable
        stripedRows>
        <ng-template pTemplate="caption">
            <div class="flex justify-between pb-1 table-options">
                <div>
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="notificationTable.clear()"></button>
                </div>
                <p-confirmDialog></p-confirmDialog>
                <div class="flex gap-2">
                    <button pButton label="{{'NOTIFICATION.MARK_ALL_AS_READ' | translate}}" class="p-button-outlined"
                        icon="pi pi-check-circle" (click)="markAllAsRead()"
                        [disabled]="!selectedNotifications || selectedNotifications.length === 0"></button>
                    <button pButton label="{{'NOTIFICATION.DELETE_ALL' | translate}}" class="p-button-outlined"
                        icon="pi pi-trash" (click)="confirmDelete()"
                        [disabled]="!selectedNotifications || selectedNotifications.length === 0"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="text-base text-left bg-gray-100">
                <th class="min-w-[3rem] w-[3rem]" pFrozenColumn scope="col">
                    <p-tableHeaderCheckbox />
                </th>
                <th style="width:80%;" scope="col">{{'NOTIFICATION.MESSAGE' | translate}}</th>
                <th style="width:15%;" scope="col">{{'NOTIFICATION.TRANSACTION_DATE' | translate}}</th>
                <th style="width:5%; text-align: center;" alignFrozen="right" pFrozenColumn [frozen]="true"
                    [ngClass]="{ 'font-bold': true }" *ngIf="isBrowser" scope="col">
                    {{'NOTIFICATION.ACTIONS' | translate}}
                </th>
            </tr>
            <tr>
                <th pFrozenColumn scope="col"></th>
                <th scope="col">
                    <p-columnFilter field="message" [showMenu]="false" [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-autoComplete dropdown id="message" [ngModel]="value" inputStyleClass="w-280"
                                [suggestions]="messageSuggestions" optionLabel="label" optionValue="value"
                                placeholder="{{'NOTIFICATION.SEARCH_MESSAGE' | translate}}" [dropdown]="false"
                                [minLength]="3" [forceSelection]="true" (onClear)="filter(undefined)"
                                (onSelect)="filter($event.value.value)" (completeMethod)="searchMessage($event)" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th style="width:15%;" scope="col"></th>
                <th style="width:5%;" pFrozenColumn alignFrozen="right" [frozen]="actions" scope="col">
                    <p-columnFilter field="toggle" [showMenu]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-togglebutton [(ngModel)]="actions" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open"
                                [onLabel]="'Unlock'" offLabel="Lock" />
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-notification>
            <tr class="text-base">
                <td pFrozenColumn class="min-w-[3rem] w-[3rem]"><p-tableCheckbox
                        [value]="notification"></p-tableCheckbox></td>
                <td style="width:80%;" [ngClass]="notification.read ? 'font-normal' : 'font-bold'">
                    {{ notification.message}}
                </td>
                <td style="width:15%;" [ngClass]="notification.read ? 'font-normal' : 'font-bold'">
                    {{ notification.createdAt | date: 'dd/MM/yyyy hh:mm a'}}
                </td>
                <td style="width:5%;" alignFrozen="right" pFrozenColumn [frozen]="actions"
                    [ngClass]="{ 'font-bold': actions }" *ngIf="isBrowser">
                    <p-menu #menu [popup]="true" [model]="getOptionsItems(notification)" appendTo="body">
                        <ng-template pTemplate="item" let-item>
                            <ng-container *ngIf="item.label === 'MARK_AS_READ'; else elseBlock">
                                <button class="w-full p-menu-item-link" (click)="markAsRead(notification.notificationId)">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ 'NOTIFICATION.MARK_AS_READ' | translate}}</span>
                                </button>
                            </ng-container>
                            <ng-template #elseBlock>
                                <button class="w-full p-menu-item-link" (click)="confirmDelete(notification.notificationId)">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ 'NOTIFICATION.DELETE' | translate}}</span>
                                </button>
                            </ng-template>
                        </ng-template>
                    </p-menu>
                    <div class="flex justify-center">
                        <p-button icon="pi  pi-ellipsis-v" severity="secondary" rounded (onClick)="menu.toggle($event)"
                            [raised]="true" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align:center;">
                    <span>{{'NO_DATA_FOUND' | translate}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>