<div pageHeader>
    <p-toolbar>
        <ng-template #start>
            <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
                {{ mode }} Doctor
            </p>
        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            <div class="flex space-x-3 justify-items-end">
                <p-button label="Save" (onClick)="save()" [loading]="isCallInitiated"
                    [disabled]="isCallInitiated"></p-button>
                <p-button label="Cancel" variant="outlined" severity="danger"
                    (onClick)="navigateToListPage()"></p-button>
            </div>
        </ng-template>
    </p-toolbar>
</div>
<!-- Basic Details -->
<form [formGroup]="doctorForm" *ngIf="doctorForm">
    <div class="card">
        <div>
            <h4 class="text-base/7 font-semibold text-gray-900">Basic Details</h4>
        </div>
        <p-divider></p-divider>

        <div class="mt-5 grid grid-cols-12 gap-3">
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4" formGroupName="organization">
                <label mandatoryFieldLabel for="organization">Select Organization<span
                        class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-select [options]="organizations" id="organization" placeholder="Select Organization"
                        optionLabel="label" formControlName="organizationId" optionValue="value" [filter]="true"
                        class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
                <label mandatoryFieldLabel for="practiceName">Select Clinic<span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-multiselect [options]="clinics" id="clinic" placeholder="Select Clinic" optionLabel="label"
                        formControlName="clinics" optionValue="value" display="chip" [filter]="true" class="w-full" />
                </div>
            </div>

            <div
                class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-1">
                <label for="title">Title <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-select id="title" formControlName="title" [options]="titles" optionLabel="label"
                        optionValue="value" placeholder="Select Title" class="w-full">
                    </p-select>
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="firstName">First Name <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText type="text" name="firstName" id="firstName" formControlName="firstName"
                        class="w-full" placeholder="Enter First Name">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="middleName">Middle Name </label>
                <div class="mt-2">
                    <input pInputText type="text" name="middleName" id="middleName" formControlName="middleName"
                        class="w-full" placeholder="Enter Middle Name">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="lastName">Last Name <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText type="text" name="lastName" id="lastName" formControlName="lastName"
                        class="w-full" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="dob">Date of Birth <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-datepicker dateFormat="dd/mm/yy" class="w-full" [iconDisplay]="'input'" [maxDate]="currentDate"
                        formControlName="dateOfBirth" [showIcon]="true" [style]="{'width': '100%'}" dataType="string"
                        (onSelect)="calculateAge()" placeholder="Enter Date of Birth" [showButtonBar]="true" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-1">
                <label for="age">Age</label>
                <div class="mt-2">
                    <input pInputText type="text" formControlName="age" name="age" id="age" class="w-full"
                        placeholder="Enter Age">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-1">
                <label for="gender">Gender <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-select id="gender" formControlName="gender" [options]="genders" optionLabel="label"
                        optionValue="value" placeholder="Select Gender" class="w-full" class="w-full">
                    </p-select>
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6  md:col-span-6 lg:col-span-2" *ngIf="gender">
                <label for="genderFreeText">&nbsp;</label>
                <div class="mt-2">
                    <input pInputText type="text" name="genderFreeText" id="genderFreeText"
                        formControlName="genderFreeText" class="w-full" placeholder="Enter Gender">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="LicenceExpiry">Licence Expiry Date <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-datepicker dateFormat="dd/mm/yy" class="w-full" [iconDisplay]="'input'" dataType="string"
                        formControlName="licenseExpiryDate" [showIcon]="true" [style]="{'width': '100%'}"
                        placeholder="Enter Licence Expiry Date" [showButtonBar]="true" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="licenseIssuingAuthority">Licence Issuing Authority <span
                        class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-select id="licenseIssuingAuthority" formControlName="licenseIssuingAuthority"
                        [options]="licenseIssuingAuthorities" optionLabel="label" optionValue="value"
                        placeholder="Select License Issuing Authority" class="w-full">
                    </p-select>
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="medicalRegistrationNumber">Medical Registration Number <span
                        class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText type="text" name="medicalRegistrationNumber" id="medicalRegistrationNumber"
                        formControlName="medicalRegistrationNumber" class="w-full"
                        placeholder="Enter Medical Registration Number">
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="Years">Years of Experience</label>
                <div class="mt-2">
                    <p-inputnumber id="Years" name="yearOfExperience" inputId="minmax" mode="decimal"
                        formControlName="yearOfExperience" [min]="0" [max]="100" class="w-full"
                        placeholder="Enter Year of experience" />
                </div>
            </div>
            <!-- <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="MobileNumber">Mobile Number <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="MobileNumber" type="text" placeholder="Enter Mobile Number" class="w-full" />
                </div>
            </div> -->
            <!-- <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <label for="city">Email Address <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="Email" type="text" placeholder="Enter Email Address" class="w-full" />
                </div>
            </div> -->
            <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
                <label>Profile Picture</label>
                <div class="mt-2 flex justify-start">
                    <app-file-upload formControlName="profilePicture" moduleId="4" [fileSize]="10" subModuleId="4"
                        source="Admin" [objectId]="doctorId" [fileTypeSupported]="documentTypes"></app-file-upload>
                </div>

            </div>
        </div>
    </div>

    <!-- Services & Specialities -->
    <div class="card">
        <div>
            <h4 class="text-base/7 font-semibold text-gray-900">Speciality</h4>
        </div>
        <p-divider></p-divider>
        <div class="mt-5 grid grid-cols-12 gap-3">
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="Specialities">Specialities <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-multiselect [options]="specialities" id="Specialities"
                        placeholder="Select Services and Specialites" optionLabel="label" formControlName="specialities"
                        optionValue="value" [filter]="true" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="subSpeciality">Sub-Specialization</label>
                <div class="mt-2">
                    <p-multiselect [options]="subSpecialities" id="subSpeciality"
                        placeholder="Select Sub-Specialization" optionLabel="label" formControlName="subSpecialization"
                        optionValue="value" [filter]="true" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="medicalDegree">Medical Degree</label>
                <div class="mt-2">
                    <p-multiselect [options]="medicalDegree" id="medicalDegree" placeholder="Select Medical Degree"
                        optionLabel="label" formControlName="medicalDegree" optionValue="value" [filter]="true"
                        class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="practicingSince">Practicing Since</label>
                <div class="mt-2">
                    <p-datepicker dateFormat="dd/mm/yy" class="w-full" [iconDisplay]="'input'" dataType="string"
                        formControlName="practicingSince" [showIcon]="true" [style]="{'width': '100%'}"
                        placeholder="DD/MM/YYYY" [showButtonBar]="true" />
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Details -->
    <div class="card">
        <div>
            <h4 class="text-base/7 font-semibold text-gray-900">Contact Details</h4>
        </div>
        <p-divider></p-divider>
        <app-address></app-address>
        <!-- <div class="mt-5 grid grid-cols-12 gap-3">
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
                <label for="address1">Address 1 <span class="text-red-500">*</span> </label>
                <div class="mt-2">
                    <input pInputText id="address1" type="text" placeholder="Enter Address" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
                <label for="address2">Address 2</label>
                <div class="mt-2">
                    <input pInputText id="address2" type="text" placeholder="Enter Address" class="w-full" />
                </div>
            </div>

            <div
                class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-2">
                <label for="pincode">Pincode <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="pincode" type="text" placeholder="Enter Pincode" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
                <label for="city">City <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="city" type="text" placeholder="Enter City" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
                <label for="state">State <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="state" type="text" placeholder="Enter State" class="w-full" />
                </div>
            </div>
            <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
                <label for="country">Country <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText id="country" type="text" placeholder="Enter Country" class="w-full" />
                </div>
            </div>
        </div> -->
    </div>

    <!-- Consultation Details -->
    <div class="card">
        <div>
            <h4 class="text-base/7 font-semibold text-gray-900">Consultation Details</h4>
        </div>
        <p-divider></p-divider>
        <div class="mt-5 grid grid-cols-12 gap-3">
            <!-- Consultation Mode -->
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label class="font-medium">Consultation Mode <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <div class="flex gap-4">
                        <span *ngFor="let option of consultationModeOptions; let i = index">
                            <div class="flex items-center">
                                <p-checkbox [inputId]="option.value+i" name="option" [value]="option.value"
                                    formControlName="consultationMode">
                                </p-checkbox>
                                <label class="ml-2" [for]="option.value +i">
                                    {{ option.label }}
                                </label>
                            </div>
                        </span>
                    </div>


                </div>
            </div>

            <!-- Available Days -->
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-6">
                <label class="font-medium">Available Days <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <div class="flex gap-2">
                        <div>
                            <p-selectbutton [options]="daysoptions" formControlName="availableDays" optionLabel="label"
                                class="w-full" optionValue="value" [multiple]="true" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Available Time -->
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label class="font-medium">Available Time <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center gap-4" formGroupName="availableTime">
                        <input pInputText type="time" name="startTime" id="startTime" formControlName="startTime">
                        <span>to</span>
                        <input pInputText type="time" name="endTime" id="endTime" formControlName="endTime">
                    </div>
                </div>
            </div>

            <!-- Consultation Fee -->
            <div
                class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-2">
                <label class="font-medium">Consultation Fee <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input pInputText type="number" name="consultationFee" id="consultationFee"
                        formControlName="consultationFee" class="w-full" placeholder="Enter fee amount" maxlength="10">
                </div>
            </div>

            <!-- Preferred Payment Mode -->
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
                <div class="flex flex-col w-full">
                    <label for="paymentMode">Accepted Payment Mode <span class="text-red-500">*</span></label>
                    <div class="mt-2">
                        <p-multiselect [options]="paymentoptions" id="paymentMode" placeholder="Select Payment Mode"
                            optionLabel="label" formControlName="paymentModes" optionValue="value" display="chip"
                            [filter]="true" class="w-full" />
                    </div>
                </div>
            </div>

            <!-- Accepted Insurance Providers -->
            <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
                <label for="insuranceProvider">Accepted Insurance Providers</label>
                <div class="mt-2">
                    <p-multiselect [options]="insuranceProviders" id="insuranceProvider"
                        placeholder="Select Accepted Insurance Providers" optionLabel="label" optionValue="value"
                        [filter]="true" class="w-full" formControlName="insuranceProviders" />

                </div>
            </div>
        </div>
    </div>
</form>