<div class="card">

    <div class="flex justify-between items-center mb-3">
        <h4 class="text-base/7 font-semibold ">{{'DOCUMENT.DOCUMENTS' | translate}}</h4>
        <p-button label="{{'ADD' | translate}}" size="small" class="mr-3" severity="primary"
            (onClick)="addEditDocument()"></p-button>
    </div>
    <p-divider />
    <ng-container>
        <p-table [value]="documents" [size]="'small'" [totalRecords]="totalRecords" [paginator]="true"
            [loading]="showLoader" [first]="first" [lazy]="true" [rows]="size" (onLazyLoad)="loadDocuments($event)"
            [scrollable]="true" #documentTable>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%">{{'DOCUMENT.NAME' | translate}}</th>
                    <th style="width:20%">{{'DOCUMENT.DOCUMENT_TYPE' | translate}}</th>
                    <th style="width:15%">{{'DOCUMENT.UPLOAD_DATE' | translate}}</th>
                    <th style="width:15%">{{'DOCUMENT.UPLOADED_BY' | translate}}</th>
                    <th style="width:15%">{{'DOCUMENT.LAST_MODIFIED_DATE' | translate}}</th>
                    <th style="width:10%;text-align: center;">{{'ACTIONS' | translate}}</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter field="document" [showMenu]="false" [showClearButton]="false">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-autoComplete dropdown id="document" [ngModel]="value" inputStyleClass="w-full"
                                    [suggestions]="documentSuggestions" optionLabel="label" optionValue="value"
                                    [placeholder]="'DOCUMENT.PLACE_HOLDER.SEARCH_NAME' | translate" [dropdown]="false" [minLength]="3"
                                    [forceSelection]="true" (onClear)="filter(undefined)"
                                    (onSelect)="filter($event.value.value)"
                                    (completeMethod)="searchDocuments($event)" />
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="docType" [showMenu]="false" [showClearButton]="false">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-select [options]="documentTypes" id="docType" [placeholder]="'DOCUMENT.PLACE_HOLDER.DOCUMENT_TYPE' | translate"
                                    optionLabel="label" [ngModel]="value" optionValue="value" [filter]="true"
                                    [showClear]="true" (onChange)="filter($event.value)" class="w-full"
                                    appendTo="body" />
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="docDate" [showMenu]="false" [showClearButton]="false">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-datepicker dateFormat="dd/mm/yy" class="w-full" [iconDisplay]="'input'"
                                    [readonlyInput]="true" [ngModel]="value" [showIcon]="true"
                                    (onSelect)="filter($event)" [showClear]="true" [placeholder]="'DOCUMENT.PLACE_HOLDER.DOCUMENT_TYPE' | translate"
                                    (onClear)="filter(undefined)" [style]="{'width': '100%'}" appendTo="body" />
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-document>
                <tr>
                    <td>{{document.docTitle}}</td>
                    <td>{{document.docTypeName}}</td>
                    <td>{{document.docDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{document.uploadBy}}</td>
                    <td>{{document.lastUpdatedDate | date: 'dd/MM/yyyy'}}</td>
                    <td class="flex justify-center gap-2">
                        <p-button icon="pi pi-eye" variant="outlined" severity="secondary" [rounded]="true"
                            (onClick)="viewDocument(document.documentId)" />
                        @if (document.isEditable) {
                        <p-button icon="pi pi-pencil" variant="outlined" severity="info" [rounded]="true"
                            (onClick)="addEditDocument(document.documentId)" />
                        } @else {
                        <p-button icon="pi pi-pencil" variant="outlined" severity="info" [disabled]="true"
                            [rounded]="true" [pTooltip]="'DOCUMENT.TOOLTIP.NOT_AUTHORIZED' | translate"
                            tooltipPosition="top" />
                        }

                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" style="text-align:center;">
                        <span>{{ 'DOCUMENT.TABLE.EMPTY_MESSAGE' | translate }}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>



<app-document-add-edit *ngIf="isDocumentVisible" [documentId]="documentId" [appointmentId]="appointmentId()"
    (onDocumentUpdate)="documentTable.clear()" [patientId]="patientId()"
    [(isVisible)]="isDocumentVisible"></app-document-add-edit>