<div pageHeader>
    <p-toolbar >
        <ng-template #start>
            <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
                Add Provider
            </p>
        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
            <div class="flex space-x-3 justify-items-end">
                <p-button label="Save"></p-button>
                <p-button label="Cancel" variant="outlined" severity="danger"></p-button>
            </div>
        </ng-template>
    </p-toolbar>
</div>
<!-- Basic Details -->
<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">Basic Details</h4>
    </div>
    <p-divider></p-divider>

    <div class="mt-5 grid grid-cols-12 gap-3">
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
            <label for="orgName" class="text-red 500">Organization Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
              <input pInputText id="orgName" type="text" placeholder="Enter Organization Name" class="w-full" />
            </div>
          </div>
        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-4">
            <label for="first-name">Practice Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="text" name="first-name" id="first-name" autocomplete="given-name"
                    class="w-full" placeholder="Enter Practice Name">
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
            <label for="state">Select Practice <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select id="mapped" [(ngModel)]="practice" [options]="practices" optionLabel="name"
                    placeholder="Enter Practice" class="w-full">
                </p-select>
            </div>
        </div>
        <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-1">
            <label for="state">Title <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItems" optionLabel="name"
                    placeholder="Select One" class="w-full" (onChange)="onDropdownChange()" class="w-full">
                </p-select>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="firstName">First Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="firstName" type="text" placeholder="Enter First name" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="MiddleName">Middle Name </label>
            <div class="mt-2">
                <input pInputText id="MiddleName" type="text" placeholder="Enter Middle Name" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="LastName">Last Name <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="LastName" type="text" placeholder="Enter Last Name" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="dob">Date of Birth <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="calendarValue"
                    class="w-full" placeholder="Enter Date of Birth"></p-datepicker>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-1">
            <label for="age">Age</label>
            <div class="mt-2">
                <input pInputText type="number" id="age" readonly class="w-full" placeholder="Enter Age" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-1">
            <label for="state">Gender <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select id="state" [(ngModel)]="Gender" [options]="GenderList" optionLabel="name"
                    placeholder="Enter Gender" class="w-full" (onChange)="onGenderChange()" class="w-full">
                </p-select>
            </div>
        </div>
        <div *ngIf="showOtherInput" class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label>&nbsp;</label>
            <div class="mt-2">
                <input pInputText type="text" [(ngModel)]="otherGender" placeholder="Enter Gender type" class="w-full">
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="LicenceExpiry">Licence Expiry Date <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-datepicker [showIcon]="true" [showButtonBar]="true" [(ngModel)]="LicenceExpiryValue"
                    class="w-full" placeholder="Enter Licence Expiry Date"></p-datepicker>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="state">Licence Issuing Authority <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-select id="state" [(ngModel)]="Licence" [options]="LicenceList" optionLabel="name"
                    placeholder="Enter License Issuing Authority" class="w-full" (onChange)="onGenderChange()" class="w-full">
                </p-select>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="RegNumber">Medical Registration Number <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="RegNumber" type="text" placeholder="Enter Medical Registration Number" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="Years">Years of Experience</label>
            <div class="mt-2">
                <input pInputText id="Years" type="text" placeholder="Enter Years Of Experience" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="MobileNumber">Mobile Number <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="MobileNumber" type="text" placeholder="Enter Mobile Number" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <label for="city">Email Address <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="Email" type="text" placeholder="Enter Email Address" class="w-full" />
            </div>
        </div>  
        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label>Upload Business License</label>
            <div class="mt-2">
              <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                (onUpload)="onUpload($event)" class="w-full" />
            </div>
          </div>      
    </div>
</div>

<!-- Services & Specialities -->
<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">Specialization Details</h4>
    </div>
    <p-divider></p-divider>
    <div class="mt-5 grid grid-cols-12 gap-3">
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="state">Specialities <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <p-multiselect id="mapped" [(ngModel)]="Service" [options]="Specialities" optionLabel="name"
                    placeholder="Enter Services and Specialites" class="w-full" class="w-full">
                </p-multiselect>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="state">Sub-Specialization</label>
            <div class="mt-2">
                <p-multiselect id="mapped" [(ngModel)]="subSpecialization" [options]="subSpecialities" optionLabel="name"
                    placeholder="Enter Sub-Specialization" class="w-full" class="w-full">
                </p-multiselect>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="state">Medical Degree</label>
            <div class="mt-2">
                <p-multiselect id="mapped" [(ngModel)]="degree" [options]="medicalDegree" optionLabel="name"
                    placeholder="Enter Medical Degree" class="w-full" class="w-full">
                </p-multiselect>
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="RegNumber">Registration Number <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="RegNumber" type="text" placeholder="Enter Registration Number" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label for="Years">Practicing Since</label>
            <div class="mt-2">
                <input pInputText id="Years" type="text" placeholder="DD/MM/YYYY" class="w-full" />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">Contact Details</h4>
    </div>
    <p-divider></p-divider>
    <div class="mt-5 grid grid-cols-12 gap-3">        
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
            <label for="address1">Address 1 <span class="text-red-500">*</span> </label>
            <div class="mt-2">
                <input pInputText id="address1" type="text" placeholder="Enter Address" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-4">
            <label for="address2">Address 2</label>
            <div class="mt-2">
                <input pInputText id="address2" type="text" placeholder="Enter Address" class="w-full" />
            </div>
        </div>

        <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-2">
            <label for="pincode">Pincode <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="pincode" type="text" placeholder="Enter Pincode" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="city">City <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="city" type="text" placeholder="Enter City" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="state">State <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="state" type="text" placeholder="Enter State" class="w-full" />
            </div>
        </div>
        <div class="flex flex-col col-span-full  sm:col-span-6 md:col-span-2">
            <label for="country">Country <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText id="country" type="text" placeholder="Enter Country" class="w-full" />
            </div>
        </div>
    </div>
</div>




<div class="card">
    <div>
        <h4 class="text-base/7 font-semibold text-gray-900">Consultation Details</h4>
    </div>
    <p-divider></p-divider>
    <div class="mt-5 grid grid-cols-12 gap-3">
        <!-- Consultation Mode -->
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label class="font-medium">Consultation Mode <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <div class="flex gap-4">
                    <div class="flex items-center">
                        <p-checkbox id="checkOption1" name="option" value="In Person" [(ngModel)]="consultationMode" />
                        <label for="checkOption1" class="ml-2">In Person</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox id="checkOption2" name="option" value="Virtual" [(ngModel)]="consultationMode" />
                        <label for="checkOption2" class="ml-2">Virtual</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox id="checkOption3" name="option" value="Both" [(ngModel)]="consultationMode" />
                        <label for="checkOption3" class="ml-2">Both</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Available Days -->
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-6">
            <label class="font-medium">Available Days <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <div class="flex gap-2">
                    <div>
                        <p-selectbutton [options]="daysoptions" [(ngModel)]="days" [multiple]="true" optionLabel="name"
                            optionValue="value" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Available Time -->
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label class="font-medium">Available Time <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <div class="flex items-center gap-4">
                    <input pInputText type="time" [(ngModel)]="startTime" />
                    <span>to</span>
                    <input pInputText type="time" [(ngModel)]="endTime" />
                </div>
            </div>
        </div>

        <!-- Consultation Fee -->
        <div class="flex flex-col col-start-1 sm:col-start-1 md:col-start-1 col-span-full sm:col-span-6 md:col-span-2">
            <label class="font-medium">Consultation Fee <span class="text-red-500">*</span></label>
            <div class="mt-2">
                <input pInputText type="number" [(ngModel)]="consultationFee" maxlength="10"
                    placeholder="Enter fee amount" (blur)="validateFee()" class="w-full" />
                <!-- <p *ngIf="feeError" class="text-red-500 text-sm mt-1">Consultation Fee is required.</p> -->
            </div>
        </div>

        <!-- Preferred Payment Mode -->
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-2">
            <div class="flex flex-col w-full">
                <label for="paymentMode">Preferred Payment Mode <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <p-multiselect [options]="paymentoptions" [(ngModel)]="Paymentopt" placeholder="Select Payment Mode"
                        optionLabel="name" display="chip" [filter]="true" class="w-full">
                    </p-multiselect>
                </div>
            </div>
        </div>

        <!-- Accepted Insurance Providers -->
        <div class="flex flex-col col-span-full sm:col-span-6 md:col-span-3">
            <label>Accepted Insurance Providers</label>
            <div class="mt-2">
                <p-select id="subscriptionPlan" [(ngModel)]="selectedInsuranceProvider" [options]="insuranceProviders"
                    optionLabel="name" placeholder="Select One" class="w-full">
                </p-select>
            </div>
        </div>
    </div>
</div>