<div pageHeader="list">
    <p-toolbar>
        <ng-template #start>
            <div class="flex items-center gap-2">
                <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">Doctor List</p>
            </div>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-button label="Add Doctor" (onClick)="navigateTo('/home/doctor/add')" />

            </div>
        </ng-template>
    </p-toolbar>
</div>
<div class="card doctor-list">
    <div class="flex justify-between table-options">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(doctorTable)"></button>
        <div class="flex justify-between items-center flex-column sm:flex-row gap-2">
            <!-- 
            <div class="flex items-center gap-2">
                <button pButton label="Export" class="p-button-outlined" icon="pi pi-external-link"
                    (click)="exportCSV(doctorTable)"></button>
            </div> -->
        </div>
    </div>

    <p-divider></p-divider>

    <p-table [value]="doctors" styleClass="mt-4" [paginator]="true" [totalRecords]="totalRecords" [loading]="showLoader"
        [first]="first" [lazy]="true" [rows]="size" stripedRows (onLazyLoad)="loadDoctors($event)"
        [(selection)]="selectedDoctor" (selectionChange)="onSelectionChange()" [size]="'small'" [scrollable]="true"
        tableAutoScroll #doctorTable>
        <ng-template #header>
            <tr>
                <th style="min-width:200px" class="font-bold" pFrozenColumn pSortableColumn="doctorName"
                    [frozen]="freezeDoctorName" [ngClass]="{ 'font-bold': freezeDoctorName }">Doctor Name <p-sortIcon
                        field="doctorName" /></th>
                <th style="min-width:200px" class="font-bold">Speciality</th>
                <th style="min-width:200px" class="font-bold">Organization Name</th>
                <th style="min-width:200px" class="font-bold">Clinic Name</th>
                <th style="min-width:200px" class="font-bold">Consultation Mode</th>
                <th style="min-width:200px" class="font-bold">Status</th>
                <th style="min-width:100px; text-align: center;" alignFrozen="right" pFrozenColumn [frozen]="actions"
                    [ngClass]="{ 'font-bold': actions }" *ngIf="isBrowser">Actions</th>
            </tr>
            <tr>
                <th pFrozenColumn [frozen]="freezeDoctorName" [ngClass]="{ 'font-bold': freezeDoctorName }">
                    <p-columnFilter field="doctor" [showMenu]="false" [showClearButton]="false" placeholder=""
                        ariaLabel="Filter Doctor">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-autoComplete dropdown id="Doctor" [ngModel]="value" [style]="{'width': columnWidth+'px'}"
                                inputStyleClass="w-full" [suggestions]="doctorSuggestions" optionLabel="label"
                                optionValue="value" placeholder="Search Doctor Name" [dropdown]="false" [minLength]="3"
                                [forceSelection]="true" (onClear)="filter(undefined)"
                                (onSelect)="filter($event.value.value)" (completeMethod)="searchDoctors($event)" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="specialization" ariaLabel="Filter specialization" [showMenu]="false"
                        [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-select [options]="specialities" id="specialization" placeholder="Select Speciality"
                                optionLabel="label" [ngModel]="value" optionValue="value" [filter]="true"
                                [showClear]="true" (onChange)="filter($event.value)" class="w-full"
                                [style]="{'width': columnWidth+'px'}" appendTo="body" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="organization" [showMenu]="false" [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-select [options]="organizations" id="organization" placeholder="Select Organization"
                                optionLabel="label" [ngModel]="value" optionValue="value" [filter]="true"
                                [showClear]="true" (onChange)="setClinics($event.value,filter)" class="w-full"
                                [style]="{'width': columnWidth+'px'}" appendTo="body" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="clinic" [showMenu]="false" [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-multiselect [options]="clinics" id="clinic" placeholder="Select Clinic"
                                optionLabel="label" [ngModel]="value" optionValue="value" display="chip" [filter]="true"
                                (onChange)="filter($event.value)" [style]="{'width': columnWidth+'px'}" class="w-full"
                                appendTo="body" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="consultationMode" [showMenu]="false" [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-multiselect [options]="consultationModeOptions" id="consultationMode"
                                placeholder="Select ConsultationMode" optionLabel="label" [ngModel]="value"
                                optionValue="value" display="chip" [filter]="true" (onChange)="filter($event.value)"
                                [style]="{'width': columnWidth+'px'}" class="w-full" appendTo="body" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="status" [showMenu]="false" [showClearButton]="false">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-selectbutton [options]="statusList" [allowEmpty]="false" [ngModel]="value"
                                (onChange)="filter($event.value)" optionLabel="label" optionValue="label"
                                [style]="{'width': (columnWidth/2)+'px'}" />
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pFrozenColumn alignFrozen="right" [frozen]="actions" style="text-align: center;">
                    <p-togglebutton [(ngModel)]="actions" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open"
                        [onLabel]="'Unlock'" offLabel="Lock" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-doctor>
            <tr>
                <td class="font-bold" pFrozenColumn [frozen]="freezeDoctorName"
                    [ngClass]="{ 'font-bold': freezeDoctorName }">
                    <p-button [label]="doctor.firstName + ', ' + doctor.lastName" [link]="true"
                        (onClick)="editDoctor(doctor)" />
                </td>
                <td>
                    {{doctor.specialization}}
                </td>
                <td>{{ doctor.organization }}</td>
                <td>{{ doctor.clinics }}</td>
                <td>{{ doctor.consultationMode }}</td>
                <td>
                    <span class="flex">
                        <p-tag [severity]="doctor.status === 1 ? 'success' : 'danger'"
                            [value]="doctor.status === 1 ? 'Active' : 'Inactive'">
                        </p-tag>
                    </span>
                </td>
                <td alignFrozen="right" pFrozenColumn [frozen]="actions" [ngClass]="{ 'font-bold': actions }"
                    *ngIf="isBrowser">
                    <p-menu #menu [popup]="true" [model]="optionsItems" appendTo="body">
                        <ng-template #item let-item>
                            <ng-container *ngIf="item.label =='Edit' ; else elseBlock">
                                <span class="p-menu-item-link" (click)="editDoctor(doctor)">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ item.label }}</span>
                                </span>
                            </ng-container>
                            <ng-template #elseBlock>
                                <span class="p-menu-item-link"
                                    (click)="updateStatus(doctor.doctorId, doctor.status == 1 ? 0 : 1)">
                                    <span
                                        [class]="doctor.status == 1 ? 'pi pi-times-circle': 'pi pi-check-circle' "></span>
                                    <span class="ml-2">{{ doctor.status == 1 ? 'Deactivate': 'Activate' }}</span>
                                </span>
                            </ng-template>
                        </ng-template>

                    </p-menu>
                    <div class="flex justify-center">
                        <p-button icon="pi  pi-ellipsis-v" severity="secondary" rounded (click)="menu.toggle($event)"
                            [raised]="true" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No Data Found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>