<div pageHeader="list">
    <p-toolbar>
        <ng-template #start>
            <div class="flex items-center gap-2">
                <p class="text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight">
                    Appointment List
                </p>
            </div>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-button label="Add Appointment" (onClick)="addEditMode()" />
            </div>
        </ng-template>
    </p-toolbar>
</div>
<div class="card">
    <div class="flex justify-between table-options">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <div class="flex justify-between items-center flex-column sm:flex-row gap-2">
            <div class="flex items-center gap-2">
                <button pButton label="Export" class="p-button-outlined" icon="pi pi-external-link"
                    (click)="exportCSV(dt1)"></button>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <p-table [value]="appointments" styleClass="mt-4" [paginator]="true" [rows]="10" stripedRows
        [exportHeader]="'customExportHeader'" [size]="'small'" [scrollable]="true" tableAutoScroll #dt1>
        <ng-template #header>
            <tr>
                <th style="width: 4rem" pFrozenColumn><p-tableHeaderCheckbox /></th>
                <th style="min-width:200px" class="font-bold" pFrozenColumn>Patient Name
                </th>
                <th style="min-width:150px">Appointment Type
                </th>
                <th style="min-width:200px">Practice
                </th>
                <th style="min-width:200px">Appointment Date
                </th>
                <th style="min-width:200px">Reason for Visit

                </th>
                <th style="min-width:150px">Appointment Status</th>
                <th style="min-width:150px">Payment Status</th>
                <th style="min-width:100px; text-align: center;" alignFrozen="right" pFrozenColumn [frozen]="actions"
                    [ngClass]="{ 'font-bold': actions }" *ngIf="isBrowser">Actions</th>
            </tr>
            <tr>
                <th pFrozenColumn></th>
                <th pFrozenColumn>
                    <p-columnFilter type="text" field="patientName" matchMode="equals"
                        placeholder="Search by Patient Name" ariaLabel="Filter Patient Name">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-autoComplete dropdown id="patientName" class="width-full w-full" 
                                [style]="{'width': '100%'}" [suggestions]="patientSuggestions"
                                (onSelect)="filter($event.value.name)" optionLabel="name" optionValue="name"
                                placeholder="Soft Search" (completeMethod)="searchPatientName($event)">
                            </p-autoComplete>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="appointmentType" matchMode="equals"
                        placeholder="Search by Appointment Type" ariaLabel="Filter Appointment Type">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-select optionLabel="name" optionValue="name" [ngModel]="value" placeholder="Any"
                                [options]="appointmentTypeOption" (onChange)="filter($event.value)"
                                [style]="{ 'min-width': '12rem' }">
                                <ng-template let-option #item>
                                    <div class="flex justify-center items-center gap-2">
                                        {{option.name}}
                                    </div>
                                </ng-template>
                            </p-select>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
                <th>
                    <p-columnFilter  type="date"  field="appointmentDate" matchMode="between"
                        placeholder="Search by Appointment Date" ariaLabel="Filter Appointment Date">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-datepicker inputId="calendar-12h" appendTo="body" (onClose)="filter(filterDate)" [(ngModel)]="filterDate" selectionMode="range" [readonlyInput]="true"
                                [showTime]="false"  />

                        </ng-template>
                    </p-columnFilter>

                </th>
                <th>
                    <p-columnFilter type="text" field="reasonForVisit" matchMode="equals"
                        placeholder="Search by Reason For Visits" ariaLabel="Filter Reason For Visits">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-select optionLabel="name" optionValue="name" [ngModel]="value"
                                [options]="reasonForVisits" (onChange)="filter($event.value)" placeholder="Any"
                                [style]="{ 'min-width': '12rem' }">
                                <ng-template let-option #item>
                                    <div class="flex justify-center items-center gap-2">
                                        {{option.name}}
                                    </div>
                                </ng-template>
                            </p-select>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="paymentStatus" matchMode="equals"
                        placeholder="Search by Payment Status" ariaLabel="Filter Payment Status">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-select optionLabel="name" optionValue="name" [ngModel]="value"
                                [options]="paymentstatusOption" (onChange)="filter($event.value)" placeholder="Any"
                                [style]="{ 'min-width': '12rem' }">
                                <ng-template let-option #item>
                                    <div class="flex justify-center items-center gap-2">
                                        {{option.name}}
                                    </div>
                                </ng-template>
                            </p-select>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th alignFrozen="right" pFrozenColumn [frozen]="actions"></th>
            </tr>
        </ng-template>
        <ng-template #body let-appointment>
            <tr>
                <td pFrozenColumn><p-tableCheckbox [value]="appointment"></p-tableCheckbox></td>
                <td pFrozenColumn>{{ appointment.patientName }}</td>
                <td>{{ appointment.appointmentType }}</td>
                <td>{{ appointment.practice }}</td>
                <td>{{ appointment.appointmentDate | date: 'dd/MM/yyyy' }} {{ appointment.startTime | date: 'hh:mm a' }}</td>
                <td>{{ appointment.reasonForVisit }}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.paymentStatus }}</td>
                <td alignFrozen="right" pFrozenColumn [frozen]="actions" [ngClass]="{ 'font-bold': actions }"
                    *ngIf="isBrowser">
                    <p-menu #menu [popup]="true" [model]="optionsItems" appendTo="body">
                        <ng-template #item let-item>
                            <ng-container *ngIf="item.label =='Edit' ; else elseBlock">
                                <span class="p-menu-item-link" (click)="addEditMode(appointment)">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ item.label }}</span>
                                </span>
                            </ng-container>
                            <ng-template #elseBlock>
                                <span class="p-menu-item-link" (click)="appointment.status = 'Cancel';">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ item.label }}</span>
                                </span>
                            </ng-template>
                        </ng-template>
                    </p-menu>
                    <div class="flex justify-center">
                        <p-button icon="pi  pi-ellipsis-v" severity="secondary" rounded (click)="menu.toggle($event)"
                            [raised]="true" />
                    </div>
                </td>
            </tr>

        </ng-template>
    </p-table>

</div>